.idea/
.git/
test/
nbproject/
.vscode/
Temp/qrcode/
cache/
build/
dist/
ChromePortable/
downloaded/
/**/__pycache__
*.log
test*
*.jpg
*.spec
*.exe
.vs
*.zip
*.db
*-bak
*.tmp
*.c
*.pyd
sftp-config.json
